body {
  height: 100vh;
  background-image: url(https://unsplash.imgix.net/photo-1414490929659-9a12b7e31907);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
