body
  font-family: 'Ubuntu', sans-serif
  margin: 0px

img
  max-width: 100%

.frame
  position: relative
  height: 100vh
  background:
    image: url(../../img/pexels.jpg)
    size: auto 100vh
    position: top center
    attachment: fixed

  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.head_frame
  position: absolute
  width: 350px
  height: 416px
  top: 100px
  left: 150px
  border:
    style: solid
    color: white
    width: 5px
    radius: 4px
  box-shadow: 20px 2px 30px rgba(0, 0, 0, 0.24)

.para1
  width: 960px
  height: 733px
  background:
    image: url(../../img/laptop.png)
    repeat: no-repeat
    position: top left
  position: absolute
  margin-left: -195px
  top: -130px

.para2
  width: 960px
  height: 733px
  background:
    image: url(../../img/new.png)
    repeat: no-repeat
  position: absolute
  top: 195px
  right: 450px

.para3
  width: 960px
  height: 733px
  background:
    image: url(../../img/phone.png)
    repeat: no-repeat
  position: absolute
  margin-left: 4%
  top: 195px


.text
  width: 310px
  height: 380px
  margin:
    left: 20px
  text:
    align: left
  color: white
  font:
    size: 18px
  letter-spacing: 0px

.social_frame
  position: absolute
  width: 378px
  height: 104px
  left: 926px
  top: 300px
  border:
    style: solid
    color: white
    width: 5px
    radius: 4px
  box-shadow: 20px 2px 30px rgba(0, 0, 0, 0.24)

.icons
  display: inline-block
  width: 60px
  height: 60px
  margin:
    top: 23px
  padding: 12px
  background-repeat: no-repeat

.github
  margin-left: 20px
  background:
    image : url(../../img/Gh.png)

.linkedin
  background:
    image : url(../../img/ln.png)

.instagram
  background:
    image : url(../../img/in.png)

.facebook
  background:
    image : url(../../img/fb.png)


.dp
  position: absolute
  width: 220px
  height: 220px
  left: 560px
  top: 70px
  border-radius: 50%
  background:
    image: url("../../img/dp.JPG")

.intro
  position: absolute
  width: 320px
  height: 100px
  top: 240px
  left: -40px
  color: white

section
  height: 1000px
  width: auto

.projects
  background:
    image: url(../../img/bulb.jpeg)
    repeat: no-repeat
