doctype html
head
  title Portfolio
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1"
  )
  link(rel='stylesheet'
       href='./editor/css/main.css'
       async
  )
body
  header.frame
    .para1
    .para2
    .para3
    .head_frame
      .text
        p Hello! My name is Sankit and I'm a
        p Full Stack developer. When I'm not
        p freelancing, I work on local
        p projects to learn and explore new
        p technologies.
        br
        p I love working on the web but I'm also
        p intrested in console applications and
        p computer sciences in general.
    .dp
      .intro
        h1 Hello!
    .social_frame
      a(href="https://github.com/sankitshane", target="_blank")
        .icons.github
      a(href="https://www.linkedin.com/in/sankit-acharya-476760113/", target="_blank")
        .icons.linkedin
      a(href="https://www.instagram.com/sankit_shane/?hl=en", target="_blank")
        .icons.instagram
      a(href="https://www.facebook.com/sankit.acharya", target="_blank")
        .icons.facebook

  section.portfolio
    .title
      h1 Portfolio
    #projects_club
      a(href="https://github.com/sankitshane/Neighborhood-Map", target="_blank")
        .project#project1
      a(href="https://github.com/sankitshane/CatalogApp", target="_blank")
        .project#project2
      a(href="https://github.com/sankitshane/frontend-nanodegree-arcade-game", target="_blank")
        .project#project3
      a(href="https://github.com/sankitshane/J2EE-Project", target="_blank")
        .project#project4

  section(style="height:620px").lang
    .title(style="color:black")
      h1 Things I Work On
    .periscope
      .box#box1
      .box#box2
      .box#box3
      .box#box4
      .box#box5
    .periscope(style="margin-top:170px").num1
      .box#box6
      .box#box7
      .box#box8
      .box#box9
      .box#box10
    .periscope(style="margin-top:340px").num2
      .box#box11
      .box#box12
      .box#box13
      .box#box14

  footer
    .work
      h2 Worked with
    .worked_with
      .comp#comp1
        .text
          h4 Web Developer
          h4 Intern june 2014 - july 2014
      .comp#comp2
        .text
          h4 Accociate Software Developer
          h4 May 2016
    .contact
      .email
        h2 I'm available for freelance contracts, so get in touch at:
        h2 sankit.acharya@gmail.com or just click on the icon
        h2 To Check out my resume you know what to do :)
        a(href="mailto:sankit.acharya@gmail.com")
          .icons.eic
        a(href="https://docs.google.com/document/d/1L-LIjguvBqO3aAFAzafohixvtzioED1_8HDymfVDiZE/edit?usp=sharing", target="_blank")
          .icons.resume


  script(src="https://code.jquery.com/jquery-3.2.0.slim.min.js" integrity="sha256-qLAv0kBAihcHZLI3fv3WITKeRsUX27hd6upBBa0MSow=" crossorigin="anonymous" async)
  script(src="editor/script.js" async)
