body {
  height: 100vh;
  background-image: url(../../img/pexels.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ubuntu', sans-serif; }

.head_frame {
  position: absolute;
  width: 350px;
  height: 416px;
  top: 43px;
  left: 85px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #DBBF90;
  border-width: 5px;
  border-radius: 4px;
  box-shadow: 20px 2px 30px rgba(0, 0, 0, 0.24); }

.head_frame_layer {
  position: absolute;
  width: 350px;
  height: 416px;
  top: 43px;
  left: 85px;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 4px;
  opacity: 0.23;
  box-shadow: 10px 2px 30px rgba(0, 0, 0, 0.8); }

.social_frame {
  position: absolute;
  width: 378px;
  height: 104px;
  left: 926px;
  top: 300px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #DBBF90;
  border-width: 5px;
  border-radius: 4px;
  box-shadow: 20px 2px 30px rgba(0, 0, 0, 0.24); }

.social_frame_layer {
  position: absolute;
  width: 378px;
  height: 104px;
  left: 926px;
  top: 300px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #DBBF90;
  border-width: 5px;
  border-radius: 4px;
  opacity: 0.23;
  box-shadow: 10px 2px 30px rgba(0, 0, 0, 0.8); }

.dp {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 560px;
  top: 70px;
  border-radius: 50%;
  background-color: black;
  background-image: url("../../img/dp.jpg"); }

.intro {
  position: absolute;
  width: 320px;
  height: 150px;
  top: 300px;
  left: 504px;
  background-color: #FFFFFF; }
